.navbar {
  font-family: sans-serif;
  background-color: #00aaff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
  color: #ffffff;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar nav ul li {
  margin-right: 20px;
}

.navbar nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
