.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  font-family: sans-serif;
  margin: 10px auto 0;
  padding: 30px 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 10px;
  accent-color: #00aaff;
}

button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 100px;
  background-color: #00aaff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

button:hover {
  background-color: #3ebfff;
}
